<h1>Add a Treatment </h1>

<% if !@treatment.errors.empty? %>
    <% @treatment.errors.full_messages.each do |message|%>
        <%= message %><br>
    <% end %>
<% end %>
<br>

<%= form_for @treatment do |f| %>
    <%= f.hidden_field :piece_id %>
    <%= f.label 'date added' %>
    <%= f.date_field 'date_time' %>
    <%= f.label 'description' %>
    <%= f.text_area 'description' %>
    <%= f.submit %>
<% end %>