<h1>Add a Treatment </h1>

<% if !@treatment.errors.empty? %>
    <% @treatment.errors.full_messages.each do |message|%>
        <%= message %><br>
    <% end %>
<% end %>
<br>

<%= form_for @treatment do |f| %>
    <%= f.label 'date added' %>
    <%= f.date_field 'date_time' %><br>
    <%= f.label 'description' %>
    <%= f.text_area 'description' %>
    <br>
    <h4>Condition at time of Treatment:</h4>
    <%= f.fields_for :conditions do |conditions_fields|%>
        <%= conditions_fields.hidden_field 'piece_id' %>
        <%= conditions_fields.label 'date condition recorded:' %>
        <%= conditions_fields.date_field 'date_time' %><br> 
        <%= conditions_fields.label 'description' %>
        <%= conditions_fields.text_area 'description' %><br>
        
    <% end %>
    <%= f.submit %>
<% end %>