<h1><%= @piece.title %></h1>
<% if @piece.user == @user %>
<%= link_to "Edit", edit_piece_path(@piece) %><%= button_to "Delete", piece_path(@piece), :method => :delete %>
<% end %>
<p> by: <%= @piece.artist %></p>
<p> description: <%= @piece.description %></p>
<p> medium: <%= @piece.medium %></p>
<p> dimensions: <%= @piece.dimensions %></p>
<p> weight: <%= @piece.weight %></p>
<p> location: <%= @piece.location %></p>
<p> provenance: <%= @piece.provenance %></p>
<p> appraised value: <%= @piece.appraised_value %></p>
<p> notes: <%= @piece.notes %></p>

<h4>Treatments</h4>
<%= button_to "add a treatment", "/pieces/#{@piece.id}/treatments/new" %>

<% if !@piece.treatments.empty? %>
    <% @piece.treatments.each_with_index do |t, index| %>
        <h4><%= index +1 %>.</h4>
        <p>Date of Treatment:
        <%= t.date_time %></p>
        <p>Description:
        <%= t.description %></p>
        <p>Condition at time of treatment:</p>
            <% t.conditions.each do |c| %>
                <p>Date condition observed:
                <%= c.date_time %></p>
                <p>Description:
                <%= c.description %></p>
            <% end %>
    <% end %>
<% else%>
<p> This piece has no treatments: </p>
<% end %>



