<h1><%= @piece.title %></h1>
<%= button_to "Edit", edit_piece_path(@piece) %><%= button_to "Delete", piece_path(@piece), :method => :delete %>
<p> by: <%= @piece.artist %></p>
<p> description: <%= @piece.description %></p>
<p> medium: <%= @piece.medium %></p>
<p> dimensions: <%= @piece.dimensions %></p>
<p> weight: <%= @piece.weight %></p>
<p> location: <%= @piece.location %></p>
<p> provenance: <%= @piece.provenance %></p>
<p> appraised value: <%= @piece.appraised_value %></p>
<p> notes: <%= @piece.notes %></p>

<%= button_to "treatments", "/pieces/#{@piece.id}/treatments" %>



